$locationsPaginationHeight: 80px;

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px 0 $locationsPaginationHeight 0;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: center;
}

.locationsList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    padding: 0 20px;

    @media (max-width: $desktopBreakpoint) {
        gap: 20px;
    }

    @media (max-width: $laptopBreakpoint) {
        gap: 10px;
    }
}

.paginationWrapper {
    height: $locationsPaginationHeight;
    position: absolute;
    width: 100%;
    bottom: $footerHeight;
    left: 0;
    background-color: #e9f5ec;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundImageTop {
    position: absolute;
    top: 120px;
    right: 10px;
}

.backgroundImageBottom {
    position: absolute;
    bottom: 150px;
    left: 10px;
}
