.wrapper {
  height: 98px;
  min-height: 98px;
  max-height: 98px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #cfcfcf91;
  padding: 0 20px;
  gap: 20px;
  z-index: 1001;
  background: inherit;
}

.logoImage {
  &:hover {
    cursor: pointer;
    background-color: #46bd78;
    border-radius: 5px;
  }

  @media screen and (max-width: $laptopBreakpoint) {
    display: none;
  }
}

.navigationList {
  list-style-type: none;
  display: flex;
  gap: 25px;
  width: 100%;
}

.navigationBarLink {
  text-decoration: none;
  color: black;
  font-size: rem(20px);

  &:hover {
    box-shadow: 0 2px 0 0 #46bd78;
  }
}
