.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  background-image: linear-gradient(174.2deg, rgb(228, 242, 255, 0.7) 7.1%, rgb(231, 244, 227, 0.7) 67.4%);

  @media (max-height: $minimumHeightForOneScreen) {
    max-height: 100%;
  }
}
